body {
	font-size: 12px;
}

h1 {
	color: darkblue;
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

.name {
	font-weight: bold;
	font-size: 16px;
}

.datatype {
	font-style: italic;
	font-size: 16px;
	margin-left: 6px;
}

.message {
	font-style: italic;
	font-size: 16px;
	margin-left: 6px;
}


.nodecollection {
	margin-left: 15px;
	margin-top: 10px;
	border-style: solid;
    border-width: 1px;
}

.node{
	margin-left: 15px;
	margin-top: 10px;
	border-style: solid;
    border-width: 1px;
}

.elementcollection {
	margin-left: 15px;
	margin-top: 10px;
	border-style: dotted;
    border-width: 1px;
}

.element {
	margin: 5px;
	background-color: #E4E4E4;
}

.messagecollection {
	margin-left: 15px;
	margin-top: 10px;
	border-style: dotted;
    border-width: 1px;
}

.message {
	margin: 5px;
	background-color: #E4E4E4;
}

.associationcollection {
	margin-left: 15px;
	margin-top: 10px;
	border-style: dotted;
    border-width: 1px;
}

.association {
	margin: 5px;
	background-color: #E4E4E4;
}

.actioncollection {
	margin-left: 15px;
	margin-top: 10px;
	border-style: dotted;
    border-width: 1px;
}

.action {
	margin: 5px;
	background-color: #E4E4E4;
}

.annotationcollection {
	margin-left: 15px;
	margin-top: 10px;
	border-style: dotted;
    border-width: 1px;
}

.annotation {
	font-weight: bold;
	font-size: 16px;
}

.element  .annotationcollection h2 {
	font-size: 14px;
}